.container-copy{
    width: 100%;
    height: auto;
    background-color: rgb(36, 33, 33);
    color: white;
    text-align: center;
    padding: 20px 0px;
}
.container-copy .copy{
    text-decoration: none;
}